body {
    background-color: #f7f7f7;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 0px !important;
    }

    .header img {
        padding: 15px 10px;
    }

    .header .agent-info {
        background-color: brown;
        color: #f7f7f7;
        padding: 10px;
    }

    .agent-info .email,
    .mob,
    h2 {
        font-size: 21px !important;
    }

    .services-info {
        padding-block: 10px !important;
    }

    .services-info .heading {
        font-size: 16px;
    }

    .services-info .services-available {
        padding: 0 !important;
    }

    .services-info .services-available .service {
        width: 100% !important;
        padding: 7px !important;
        margin: 5px 10px !important;
        font-size: 15px !important;
    }

    .contact-details {
        padding: 10px !important;
    }

    .contact-details h3,
    p {
        font-size: 25px !important;
    }
}

.header {
    background-color: #fcc425;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.agent-info {
    color: #00529c;
}

.agent-info h2 {
    font-size: 30px;
    font-weight: 600;
}

.agent-info .email,
.mob {
    font-size: 20px;
}

.services-info {
    padding-block: 20px;
}

.services-info .heading {
    font-size: 24px;
    text-align: center;
    color: #c02222;
    font-weight: bold;
    padding: 10px;
}

.services-info .services-available {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}

.services-info .services-available .service {
    width: 25%;
    background-color: #00529c;
    padding: 25px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.services-info .services-available .service:hover {
    color: black;
    background-color: #fcc425;
}

footer {
    background-color: #2d4f8e;
    position: absolute;
    bottom: 0;
}

.contact-details {
    color: #f7f7f7;
    padding: 60px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact-details h3 {
    font-size: 40px;
}

.contact-details p {
    font-size: 30px;
    padding-block: 20px;
}

.contact-details .mob-number {
    display: inline-block;
    color: #fcc425;
    text-decoration: none;
}

h1 {
    color: red;
    font-size: 25px;
}